<link rel="stylesheet" href="../css/style.css">
<main id="cbos mt-10">
    <section class="cbo-list w-100 flex f-col ac jc">
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center mb-5">
                        <h2 class="heading-section">Community Based Organisations</h2>
                    </div>
                </div>
                <div class="search-form w-90 ">
                    <h2 class="">Search CBO</h2>
                
                    <form action="/cbos" method="get">
                        <input type="text" name="name" id="name" value="<%=searchOptions.name%>">
                        <button type="submit" class="felx ac jc bx"><i class="icon icon-search"></i></button>
                    </form>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="table-wrap">
                            <table class="table table-responsive-xl">
                                <thead>
                                    <tr>
                                        <tr>
                                            <th>CBO</th>
                                            <th>Members</th>
                                            <th>Chairman</th>
                                            <th>Location</th>
                                            <th>profile</th>
                                        </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cbos.forEach(cbo=>{ %>
                                        <tr class="alert" role="alert">
                                            <td class="d-flex align-items-center">
                                                <div class="img" style="background-image: url(<%=cbo.logoPath%>);"></div>
                                                <div class="pl-3 email">
                                                    <span>
                                                        <%= cbo.name %>
                                                    </span>
                                                    <span>
                                                        <%= cbo.chairman_phone %>
                                                    </span>
                                                </div>
                                            </td>
                                            <td><%= parseInt(cbo.males)+parseInt(cbo.females) %></td>
                                            <td> <%= cbo.chairman_name %></td>
                                            <td> <%= cbo.tAuthority %></td>
                                            <td><a href="<%= cbo.id %>">View profile</a></td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>